name: post_frame
description: A Flutter package for post_frame functionality
issue_tracker: https://github.com/SoundSliced/post_frame/issues
repository: https://github.com/SoundSliced/post_frame
version: 1.0.0
homepage: https://github.com/SoundSliced/post_frame

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
